body {
  background: url(body.jpg);
  color: darkslategray;
  font: 1.125rem/1.4 system-ui, sans-serif;
  margin: auto;
  max-width: 70ch;
  text-align: justify;
}

.avy {
  border-radius: 50%;
  box-shadow: 0 0 0 4px oldlace,
    0 0 0 8px bisque,
    0 0 0 12px lightsalmon,
    0 0 0 16px tomato,
    0 0 0 20px indianred;
  float: right;
  height: 100px;
  margin: 20px;
  width: 100px;
}
